:root {
  --light-purple: hsl(254, 88%, 90%);
  --purple: hsl(256, 67%, 59%);

  --light-yellow: hsl(31, 66%, 93%);
  --yellow: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --text-3xl: 3rem;
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-m: 1rem;

  --padding-xl: 2rem;
  --padding-md: 1.5rem;

  --desktop-min-size: 790px;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

@media all and (min-width: 790px) {
  :root {
    --text-3xl: 3rem;
    --text-2xl: 2rem;
    --text-xl: 1.5rem;
    --text-m: 1rem;
  }
}
